<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card mt-5">
        <article class="card-body">
          <h2 class="card-title text-center mb-4 mt-1">Sign up</h2>
          <hr>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="input-group mb-3">
              <span class="input-group-text"> <%= icon('fas', 'user') %></span>
              <%= f.email_field :email, autofocus: true, autocomplete: "email",
                                class: "form-control", placeholder: "Email" %>
            </div> <!-- input-group -->

            <div class="input-group">
              <span class="input-group-text"> <%= icon('fas', 'lock') %></span>
              <div class="form-control">
                <%= f.password_field :password, autocomplete: "current-password",
                                      class: "form-control mb-3", placeholder: "Password" %>
                <%= f.password_field :confirm_password, autocomplete: "current-password",
                                      class: "form-control", placeholder: "Confirm your password" %>
              </div>
            </div> <!-- input-group -->
            <p class="form-label text-center mb-3">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
            </p>

            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-primary w-100" %>
            </div>
          <% end %>
        </article>
      </div> <!-- card -->
    </div> <!-- col-sm-6 -->
  </div> <!-- row -->
</div> <!-- container -->

      <div class="d-flex justify-content-center align-items-center gap-3 mt-3">
        <p class="text-muted m-0">Already registered ?</p>
        <%= render "devise/shared/link_new_session" %>
      </div>
